@import "../../assets/styles/global.scss";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown {
  position: initial;
  display: inline-block;

  input:read-only {
    background-color: white;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #ddd;
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}

.calendar-body {
  background-color: #f5f4f4;
  width: 550px;
  padding: 30px;

  .calendar-body-filter {
    border-radius: 3px;

    button {
      color: #378752;
      border: 0;
      background-color: transparent;
    }

    button:hover {
      text-decoration: underline;
    }

    input {
      height: 40px;
    }
  }
}

.monitoring__sheet {
  max-width: 1400px;
  width: 90%;
  margin: 20px auto;
}

.deliveryPage {
  .deliveryTable {
    .tableHead {
      tr {
        min-height: 50px;
        background-color: #f6f5f5;
        padding: 15px 30px;
        font-weight: 600;
        color: #a1a49e;
        text-align: left;
        @extend .font-14;

        th {
          vertical-align: middle;
          border-bottom: 0;
          border-top: 0;
        }

        .time {
          @include sheet-row-basis(15%);
        }

        .supplier {
          @include sheet-row-basis(14%);
        }

        .product {
          @include sheet-row-basis(14%);
        }

        .temp {
          @include sheet-row-basis(9%);
        }

        .defect {
          @include sheet-row-basis(20%);
        }

        .response {
          @include sheet-row-basis(20%);
        }

        .photo {
          @include sheet-row-basis(6%);
        }

        .delete {
          @include sheet-row-basis(2%);
        }
      }
    }

    .tableBody {
      tr {
        td {
          vertical-align: middle;
        }
      }

      tr:focus {
        outline: none;
      }

      .tableDeleteRow {
        i {
          color: red;
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }
}

.picture-popup {
  padding-left: 13px;
  @include transform(translateY(0%));
  @include transition(all 0.5s ease);

  .counter {
    padding-left: 2px;
    pointer-events: none;
  }

  &.open {
    z-index: 10;
  }

  .picture-hidden {
    width: 32px;
    height: 32px;
    visibility: hidden;
    overflow: hidden;
    top: -10px;
    right: 15px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid $input-border-color;
    box-shadow: 2px 2px 10px 0 $input-border-color;

    &.show {
      height: auto;
      min-height: 150px;
    }

    &.show {
      width: 250px;
      visibility: visible;

      & + .fa-camera {
        color: #a1a493 !important;
      }

      .inner {
        opacity: 1;
        cursor: default;
      }
    }

    .inner {
      padding: 15px 45px 15px 25px;
      opacity: 0;
      @include transition(opacity 0.3s ease);
      @extend .font-15;

      .upload-btn-wrapper {
        label {
          cursor: pointer;

          button {
            padding: 0;
            background: transparent;
            color: $green;
            border: none;
            font-size: 17px;
            font-weight: bold;

            span {
              padding-left: 6px;
            }
          }

          input[type='file'] {
            display: none;
          }
        }
      }

      .picture-download-name {
        padding-bottom: 10px;
      }
    }
  }
}
