$dark-green: #265b38;
$green: #378752;
$green-hover: #79b78e;
$black: #4a4a4a;
$placeholder-color: #a1a49e;
$shadow-color: #d3d3d3;
$input-border-color: #bfc9c2;
$red: #b20117;
$dark-red: #7a0020;
$orange: #f5a623;

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin sheet-row-basis($size) {
  width: $size;
}


.red {
  color: $red;
}

.green {
  color: $green;
}

.cursor-pointer {
  cursor: pointer;
}

.font-34 {
  font-size: 34px;
}

.font-30 {
  font-size: 30px;
}

.font-25 {
  font-size: 25px;
}

.font-24 {
  font-size: 24px;
  line-height: 30px;
}

.font-22 {
  font-size: 22px;
  line-height: 26px;
}

.font-20 {
  font-size: 20px;
  line-height: 24px;
}

.font-19 {
  font-size: 19px;
  line-height: 22px;
}

.font-18 {
  font-size: 18px;
  line-height: 21px;
}

.font-17 {
  font-size: 17px;
  line-height: 20px;
}

.font-16 {
  font-size: 16px;
  line-height: 19px;
}

.font-15 {
  font-size: 15px;
  line-height: 18px;
}

.font-14 {
  font-size: 14px !important;
  line-height: 16px;
}

.font-13 {
  font-size: 13px;
  line-height: 15px;
}

.font-12 {
  font-size: 12px;
}

.font-9 {
  font-size: 9px;
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline !important;
}

.text-light {
  color: #a1a2a0 !important;
}

a {
  color: $green;
  text-decoration: initial;
  @include transition(color 0.5s ease);

  &:hover {
    cursor: pointer;
    color: #265b38;
  }
}
